<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexionSQL"
             connectionString="Data Source=201.159.105.154;Initial Catalog=tecrisi;User ID=sa;Password=EpasadkI8t*;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<authentication mode="Forms" />
		<sessionState mode="InProc" cookieless="false" timeout="30" />
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="login.aspx" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />
			<mimeMap fileExtension=".png" mimeType="image/png" />
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
		</staticContent>
	</system.webServer>
</configuration>
